/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1,h2{
  font-family: 'Roboto Condensed', sans-serif;
}
/* Fonts */
/* Header */
.siteheader{
  background-color: #03151c;
  height: 66px;
}
.logo{
  display: inline-block;
  float: left;
}
.header-nav{
  display: inline-block;
  float: right;

}
.nav-links li{
  display: inline-block;
padding: 25px 20px;
}
ul  span{
  color: #14e9b6
}
.navlink{
  font-family: 'Roboto Condensed',sans-serif;
  font-size: 14px;
  color: #14e9b6;
  text-decoration: none;
}
.navlink:hover{
  text-decoration: underline;
  color: white;
}
.hero{background-image: url('images/heropic.jpg');
background-repeat: no-repeat;
background-size: cover;
height: 480px;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;}
.heroheading, .subheading{
  font-family: 'Roboto Condensed',sans-serif;
  color:white;
  text-align: center;
  display: flex;
}
.heroheading{
  font-weight: bold;
  font-size: 42px;
  padding-top: 15px;
}
.subheading{
  text-transform: uppercase;
  font-size: 21px;
}
.the-bod{
  background-color: #14e9b6
}
.the-abs{
  width: 90%;
  margin: 0 auto;
  padding: 80px 0 150px;
  display: flex;
  flex-direction: column;
}
.the-abs .content-header,
.mono,
.copy {
   display: flex;
}
.flex-row {
   display: flex;
}
.contentheader{
  color: #021d2c;
font-weight: bold;
font-size: 27px;
}
.mono{
  font-family: 'Roboto Mono', monospace;
  font-weight: 18px;
  color: #021d2c;
  line-height: 1.5;

}
.copy{
  font-family: 'Georgia',serif;
  font-size: 16px;
  line-height: 1.2;
  color: #021d2c;
}
.the-abs .contentheader{
  margin: 15px 0;
}
.the-abs .mono{
  margin: 15px 0;
}
.flex-row .copy {
  margin: 15px 30px;
}
.flex-row .copy:first-of-type{
  margin-left: 0;
}
